/*/$$$$$$  /$$$$$$$ 
/$$__  $$| $$____/ 
/$$$$$$   /$$$$$$  /$$$$$$$   /$$$$$$   /$$$$$$ | $$  \ $$| $$      
/$$__  $$ |____  $$| $$__  $$ /$$__  $$ |____  $$|  $$$$$$$| $$$$$$$ 
| $$  \ $$  /$$$$$$$| $$  \ $$| $$  \ $$  /$$$$$$$ \____  $$|_____  $$
| $$  | $$ /$$__  $$| $$  | $$| $$  | $$ /$$__  $$ /$$  \ $$ /$$  \ $$
|  $$$$$$$|  $$$$$$$| $$  | $$|  $$$$$$$|  $$$$$$$|  $$$$$$/|  $$$$$$/
\____  $$ \_______/|__/  |__/ \____  $$ \_______/ \______/  \______/ 
/$$  \ $$                     /$$  \ $$                              
|  $$$$$$/                    |  $$$$$$/                              
\______/                      \______/                               

*/
body {margin: 0; padding: 0;background-color: #fff; color: #000;}
nav a{text-decoration: none;color: #000;padding: 0 4px; font-size: 16px;}
nav a:hover{background-color: #000; color: #fff;}